.info{
  display: flex;
  height: 400px;
  overflow: hidden;
 transition: 1s all;
    background-position: center;
    background-size: cover;
    padding-bottom: 1em;
}
.inactive{
    height: 0;
}
.info__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 450px;
    padding: 0.3em;
    height: 100%;
}
.info__title{
    font-size: 3rem;
}
.info__description{
    font-size: 13px;
    padding-top: 2rem;
    padding-bottom: 3rem;
}
.info__bg{
    object-fit: contain;
    height: 100%;
    width: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
}

.info__bg-gradient{
    height: 105%;
    width: 105%;
    background: linear-gradient(-90deg, transparent 60%, rgba(17,17,17,1) 97%); 
    position: absolute;
    left:-1%;
}

.info__close{
    font-size: 30px;
    position: absolute;
    top: 0;
    padding: 0.5em;
    right: 0;
    cursor: pointer;
}
.info__button-trailer,
.info__button-play{
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-family: 700;
  border-radius: 0.4vw;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 1rem;
  padding-top: 0.5rem;
  background-color: rgba(51,51,51,.5);
  padding-bottom: 0.5rem;
}

.info__button-play:hover,
.info__button-trailer:hover{
  color: #000 ;
  background-color: rgba(255,255,255,.9);
  transition: all 0.2s;
}


@media screen and (max-width: 768px){

  .info {
    flex-direction: column;
    height: 600px;
  }
  .info__bg-gradient{
      background: linear-gradient(360deg, transparent 50%, rgba(17,17,17,1) 97%); 
      top:-1%;
  }
  .info__content{
    width: auto;
    text-align: center;
    align-items: center;
  } 

}

